@tailwind base;
@tailwind components;
@tailwind utilities;
html, body{
    height: 100%;
  }
#root{
    height: 100%;
  }
.clip-custom1 {
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 100% 100%, 0 100%, 0% 50%);
} 
.clip-custom2 {
  clip-path: polygon(0 0, 100% 0, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
} 
  

.calendar-todo-list {
  text-align: left;
  padding: 0;
  list-style: none;
}

.calendar-todo-list li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.calendar-todo-item-badge {
  vertical-align: top;
  margin-top: 8px;
  width: 6px;
  height: 6px;
} 

/* keep the Zoom canvas hidden until we actually join */
#zmmtg-root {
  display: none;           /* hide by default */
  position: fixed;         /* when shown, fill the screen */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
}
